{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<section id="about">
  <h2>Про себе</h2>
  <img src="{{ url_for('static', filename='images/photo_2026-10-07_22-04-29.jpg') }}" alt="Фото" class="photo">
  <h3>Яневич Назарій</h3>
  <p>
    <strong>Мета:</strong> активно розвиватися професійно
    та вносити вклад у розвиток команди.
  </p>
</section>

<section id="education">
  <h2>Освіта</h2>
  <ul>
    <li><strong>Заклад:</strong> Івано-Франківський Карпатський університет імені Василя Стефаника</li>
    <li><strong>Спеціальність:</strong> 121, Інженерія програмного забезпечення</li>
    <li><strong>Додаткові курси:</strong> CISCO, Prometheus</li>
  </ul>
</section>

<section id="skills">
  <h2>Навички</h2>
  <ul>
    <li>Іноземні мови: англійська, китайська, американська</li>
    <li>Володіння програмами та інструментами</li>
    <li>Критичне мислення та пошук виходів із конфліктних ситуацій</li>
  </ul>
</section>

<section id="tech">
  <h2>Технології</h2>
  <p>C++, Python, Flask, HTML, CSS, Git</p>
</section>

<section id="projects">
  <h2>Досвід роботи / Проєкти</h2>
  <p>Особисті проєкти.</p>
  <p>
    Програмування інтернет:
    <a href="https://nazaryanevych.github.io/" target="_blank" rel="noopener">nazaryanevych.github.io</a>
  </p>
</section>
{% endblock %}