<nav class="navbar site-nav sticky-top">
  <div class="container">
    <a class="navbar-brand text-white" href="{{ url_for('resume') }}">Моє резюме</a>
    <ul class="nav flex-wrap">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('resume') }}#about">Про себе</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('resume') }}#education">Освіта</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('resume') }}#projects">Проєкти</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('contacts') }}">Контакти</a></li>
    </ul>
  </div>
</nav>